<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_semar_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_semar_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SemarV2"
        tools:targetApi="31">
        <activity
            android:name=".features.profile.about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".features.wayang.detail.WayangDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.kuis.ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.kuis.QuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.profile.editPassword.EditPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.profile.editProfile.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.learning.LearnDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.videos.detail.VideoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".features.learning.MateriListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.videos.VideoListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.wayang.WayangListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.kuis.KuisListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.auth.register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.auth.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.onboarding.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="dagger.hilt.android.AppComponentFactory"
            android:value="androidx.hilt.lifecycle.HiltViewModelFactory" />
    </application>

</manifest>